In [3]:
#Import data analysis python modules
import pandas as pd
import numpy as np

data_df = pd.read_csv("../../cleandata/data_2022_2023.csv")
men_df = data_df[data_df["Gender"] == "m"]
women_df = data_df[data_df["Gender"] == "w"]
men_df.head()

,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
0,AAS,Fredrik,m,NOR,23-26 Feb 2023,2023 Cottbus World Cup,qual,"Cottbus, Germany",HB,39.0,4.6,6.700,NaN,11.300
1,AAS,Fredrik,m,NOR,23-26 Feb 2023,2023 Cottbus World Cup,qual,"Cottbus, Germany",PH,44.0,4.4,7.800,NaN,12.200
2,AAS,Fredrik Bjornevik,m,NOR,1-5 Aug 2023,2023 FISU World University Games,qual,"Chengdu, China",FX,54.0,4.0,8.566,NaN,12.566
3,AAS,Fredrik Bjornevik,m,NOR,1-5 Aug 2023,2023 FISU World University Games,qual,"Chengdu, China",HB,44.0,4.6,8.166,NaN,12.766
4,AAS,Fredrik Bjornevik,m,NOR,1-5 Aug 2023,2023 FISU World University Games,qual,"Chengdu, China",PB,54.0,4.4,8.066,NaN,12.466

In [7]:
women_df.head()

,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
98,ABDELSALAM,Jana,w,EGY,29 Oct 2022 - 6 Nov 2022,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",BB,100.0,4.8,6.200,NaN,11.000
99,ABDELSALAM,Jana,w,EGY,29 Oct 2022 - 6 Nov 2022,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",FX,109.0,4.4,7.466,0.1,11.766
100,ABDELSALAM,Jana,w,EGY,29 Oct 2022 - 6 Nov 2022,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",UB,52.0,4.8,8.000,NaN,12.800
101,ABDELSALAM,Jana,w,EGY,29 Oct 2022 - 6 Nov 2022,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",VT1,110.0,4.2,8.433,0.3,12.333
102,ABDELSALAM,Jana,w,EGY,9-12 Mar 2023,World Cup,qual,"Baku, Azerbaijan",BB,22.0,4.8,6.733,NaN,11.533